* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.list {
    width: 80%;
    margin: 0 auto;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.post__title {
    display: flex;
    justify-content: center;
    font-style: italic;
    background: #E1E1E1;
    width: 100%;
}

.post__body {
    text-align: start;
}

.post__users-data {
    width: 100%;
    background: #E1E1E1;
}

.post__comment-autor {
    font-weight: bold;
}

.post__comment {
    width: 100%;
    margin: 10px 0;
}
.btn{
    width: 100px;
    height: 50px;
   position: absolute;
    left: 46%;
    background: aqua;
}